.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  height: 100vh;
}

.mapContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 300px;
  max-width: 50%;
}

.map {
  width: 100%;
  height: 100%;
  border: 0;
}
.contactInfo{
  margin: 1rem 4rem;
    padding: 1rem;
}

.contactFormBlock {
  flex: 1;
  min-width: 300px;
  max-width: 50%;
}

.contactInfo {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
}

.inputGroup {
  margin-bottom: 15px;
}

.inputGroup label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.inputGroup input,
.inputGroup textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.inputGroup textarea {
  resize: none;
  height: 100px;
}

.submitButton {
  background-color: #28a745;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  align-self: flex-start;
}

.submitButton:hover {
  background-color: #218838;
}

@media (max-width: 768px) {
  .contentWrapper {
    flex-direction: column;
  }

  .mapContainer,
  .contactFormBlock {
    max-width: 100%;
  }
}
