/* HeroSection.module.css */


.heroSection{
  background: linear-gradient(250deg, #a8d0e0 8.76%, #fff0 99%);
}

.imageContainer {
  width: 30rem;
  height: 35rem;
  overflow: hidden;
  border-radius: 15rem 15rem 0 0;
  border: 8px solid rgba(255, 255, 255, 0.12);
}

.imageContainer img {
  width: 100%;
  height: 100%;
}

/* Animation for h1 */
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animateSlideDown {
  opacity: 0;
  animation: slideDown 1s ease-out forwards;
}

/* Animation for p with delay */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animateFadeInDelay {
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out 0.5s forwards; /* 0.5s delay */
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.imageContainer {
  opacity: 0;
  animation: slideIn 1s ease-out forwards;
}
